@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* =========================
   CART PAGE
========================= */

.cardpage {
  padding: 40px 80px;
}

#cartContainer {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  padding-right: 50%;
    width: 100%;
}

.empty-cart {
  display: grid;
  place-items: center;
  height: 80vh;
  font-size: 22px;
  font-weight: 500;

}

/* =========================
   CART ITEM CARD
========================= */

.cart-item {
   /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 40px;
  background: #ffffff;
  padding: 0px 30px;
  width: 90%;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.185);
  transition: 0.3s ease;
  
}

.cart-item:hover {
  transform: translateY(-3px);
}

/* =========================
   IMAGE
========================= */

.cart-image img {
  width: 160px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* =========================
   DETAILS
========================= */

.cart-details {
  flex: 1;
  position: relative;
}

/* Top Icons (Heart + Delete) */
.top-icons {
   /* border: 1px solid; */
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
margin: -50px 10px 0px 0px;
}

.top-icons i {
 
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
 
}

/* Heart */
.top-icons .fa-heart {
  color: #999;
}

.top-icons .fa-heart:hover {
  color: #ff006e;
  transform: scale(1.2);
}

/* Trash */
.top-icons .fa-x {
  color: #e63946;
  font-size: 1rem;
  margin-top: 4px;
}

.top-icons .fa-trash-can:hover {
  transform: scale(1.2);
}

/* Product Name */
.cart-details h3 {
  /* border: 1px solid; */
  font-size: 18px;
  margin-bottom: 15px;
  padding-right: 10px; /* space for icons */
}

/* Price */
.price {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin-bottom: 20px;
}

/* =========================
   QUANTITY SELECTOR
========================= */

.info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info span {
   border: 1px solid;
  font-weight: 500;
  padding:3px 7px 17px;
}

.qty-selector {
  display: flex;
  align-items: center;
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  overflow: hidden;
}

.qty-selector button {
  background: #f3f3f3;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.qty-selector button:hover {
  background: #000;
  color: #fff;
}

.qty-selector input {
  width: 45px;
  text-align: center;
  border: none;
  font-size: 16px;
  background: #fff;
}