@import url("https://fonts.googleapis.com/css2?family=Damion&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* home-page */

.wrapper{
  height: 100vh;
  position: relative;
}
.wrapper header {
   /* border: 1px solid; */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #d2d1cef9;
  position: fixed;
  z-index: 1;
  top: 0;

}
header .logo {
  /* border: 1px solid; */
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1.5rem;
  font-weight: 500;
}
header i {
  /* border: 1px solid; */
  color: brown;
  font-size: 22px;
  cursor: pointer;
  height: 20px;
 
}
header nav {
  /* border: 1px solid rgb(106, 0, 255); */
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .link{
  /* border: 1px solid rgb(106, 0, 255); */
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 600px;
}
.link a{
  text-decoration: none;
  color: #3d2315;
  font-weight: 500;
  font-size: 1.1rem;
}
.cart {
  color: #3d2315;
  padding: 8px;
  border-radius: 5px;
  
}
a{
  text-decoration: none;
  color: #3d2315;
  font-weight: 500;
  font-size: 1.1rem;
}
span {
   /* border: 1px solid; */
  background-color: black;
  height: 15px;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 2px 5px;
  margin:6px -5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
nav i.fa-cart-arrow-down {
  /* cursor: pointer; */
  display: flex;
}

.wrapper .homepage {
  /* border: 1px solid rgb(106, 0, 255); */
  height: 100vh;
  background: url(./img/joe-calata-E8jLkSrp4kQ-unsplash.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.homepage h2 {
  /* border: 1px solid rgb(106, 0, 255); */
  color: rgba(248, 241, 241, 0.785);
  position: absolute;
  left: 63%;
  top: 57%;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  font-size: 2.5rem;
}
.homepage p {
  /* border: 1px solid rgb(106, 0, 255); */
  color: rgba(248, 241, 241, 0.785);
  width: 450px;
  position: absolute;
  left: 65%;
  top: 66%;
  text-align: start;
}
.btn a{
  border: none;
  position: absolute;
  left: 67%;
  top: 76%;
  padding: 10px;
  background-color: #793a18;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  font-size: 1rem;
}

/* scrollpage */
.wrapper .scrollpage {
  /* border: 1px solid red; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
   margin-top: 20px;
}
.wrapper .scroll {
  /* border: 1px solid; */
  height: 47vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.scroll .catgry {
  /* border: 1px solid red; */
  height: 250px;
  width: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}
.catgry img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.border {
  /* border: 1px solid red; */
  height: 100%;
  width: 90%;
  position: absolute;
  left: -100%;
  top: 0%;
  background: linear-gradient(#dedad5bd, #efefea00);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.catgry:hover .border {
  left: 0%;
  transform: skew(20deg);
}
.border .collect-btn {
  border: none;
  padding: 8px;
  border-radius: 5px;
  background-color: #3d2315d7;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

.catgry p {
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.item {
  width: 270px;
  text-align: center;
}

.item p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
  color: #3d2315;
}


/* cardpage */
.wrapper .cardpage {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.cardpage h2 {
  text-align: center;
  font-weight: 600;
}
.cardpage p {
  text-align: center;
  font-size: 0.8rem;
}
.cardpage .product {
  /* border: 1px solid; */
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #793a18e2;
}
.card {
  transition: 0.3s;
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.card .offer{
  /* border: 1px solid; */
  width: 60px;
  padding: 5px 7px;
  margin-right:240px;
  background-color: #3d2315ec;
  color: white;
  font-size: 0.7rem;
  border-radius: 2px;
   transition: .6s;

}
.card img {
  /* border: 1px solid; */
  height: 60%;
  width: 50%;
  cursor: pointer;
  object-fit: cover;
  transition: 0.4s;
}
.card img:hover,
.card:hover .offer{
  transform: scale(1.1);
}
.card h3 {
   /* border: 1px solid; */
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.card p {
  /* border: 1px solid; */
  width: 270px;
  text-align: start;
  text-decoration: line-through;
  color: rgba(38, 40, 38, 0.68);
}
.card h4 {
  /* border: 1px solid red; */
  width: 75px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: start;
  display: flex;
}
.card h2{
  /* border: 1px solid; */
  width: 64px;  
  font-size: 0.9rem;
  color: #3d2315;
}
.star {
  /* border: 1px solid ; */
  width: 270px;
  display: flex;
  align-items: center;
}
.star .fa-star{
  /* border: 1px solid; */
  margin-left: 70px;
}
.star h5 {
  font-weight: 400;
}
.addcart button{
  border: none;
  padding: 10px 40px;
  margin: 15px 0px;
  background-color: rgba(0, 0, 0, 0.938);
  border-radius: 5px;
  transition: .4s;
  color: white;
}
.addcart button:hover{
  background-color: #3d2315;
  cursor: pointer;
}

.brandslider{
  /* border: 1px solid; */
  height: 35vh;
  display: grid;
  place-items: center;
}
.brands{
   /* border: 1px solid rgb(0, 179, 255); */
  height: 30vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands img{
  /* border: 1px solid red; */
  height: 190px;
  width: 190px;
}
.addcart{
  margin: 20px 0px 0px;
}
.card img {
  /* border: 1px solid; */
  height: 45%;
  width: 50%;
}
.addcart a{
   border: none;
  padding: 10px 40px;
  background-color: rgba(0, 0, 0, 0.938);
  border-radius: 5px;
  transition: .4s;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}
.addcart a:hover{
  background-color: #3d2315;
  cursor: pointer;
}

.features-section{
  /* border: 1px solid; */
    background-color:#e6d3b3; /* Sandal Color */
    padding:50px 20px;
    margin: 40px 0px;
}

.features-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    text-align:center;
}

.feature-box{
    flex:1;
    min-width:220px;
    margin:20px 10px;
}

.feature-icon{
    font-size:40px;
    margin-bottom:15px;
    color:#292828d2;
}

.feature-title{
    font-size:22px;
    font-weight:600;
    letter-spacing:1px;
}

@media(max-width:768px){
    .features-container{
        flex-direction:column;
    }
}



/* aboutpage */
.wrapper .aboutpage {
  /* border: 1px solid red; */
  height: 75vh;
  width: 96%;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.wrapper .about {
  background-color: #793a18e2;
  border: 1px solid;
  height: 70vh;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.wrapper .right {
  /* border: 1px solid; */
  background-color: white;
  height: 85%;
  width: 54%;
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: center;
  text-align: justify;
}
.right h2 {
  color: #562e18;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 50px 0px 1px;
  font-family: "Damion", cursive;
}
.right p {
  color: #3d2315;
  width: 550px;
  font-size: 17px;
}
.right h4 {
  color: #3d2315;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  font-family: "Damion", cursive;
}
.abt-btn{
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #702929;
  transition: 0.4s;
  box-shadow: 1px 1px 1px rgba(59, 54, 54, 0.678);
}
.abt-btn a{
    font-size: 0.9rem;
     color: white;
}
.abt-btn:hover {
  background-color: #b62222;
  box-shadow: 0px 0px 15px rgba(163, 61, 61, 0.406);
}
.wrapper .left {
  /* border: 1px solid red; */
  height: 90%;
  width: 42%;
  overflow: hidden;
}
.left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* contact-detail-page */
.condetails-page {
  /* border: 1px solid; */
  height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  /* border: 1px solid red; */
  height: 65vh;
  width: 97%;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.details h3 {
  margin-top: 10px;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}
.details .map {
  /* border: 1px solid rgb(17, 255, 0); */
  height: 100%;
  width: 42%;
  display: grid;
  place-items: center;
}
.details .cont {
  /* border: 1px solid rgb(0, 174, 255); */
  background-color: #793a18e2;
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}
.cont input,textarea{
  border: none;
  display: block;
  margin:1px 0px 10px;
  border-radius: 5px;
}
input{
  width: 353px;
  padding: 11px;
}
textarea{
  margin-top: 30px;
  padding:11px;
}
.cont label{
  /* border: 1px solid; */
  margin-top: 20px;
  display: block;
}
.cont .subbtn{
  border: none;
  padding: 10px 30px;
 display: block;
 margin:20px 110px;
 border-radius: 5px;
 background-color: #201b1963;
 color: white;
 transition: .4s;
 box-shadow: 0px 0px 3px;
}
.cont .subbtn:hover{
background-color: #702929;
 box-shadow: 0px 0px 8px #cac5c394;

}




/* Footer-page */
.wrapper .contactpage {
  /* border: 2px solid rgb(106, 0, 255); */
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  /* border: 2px solid rgb(106, 0, 255); */
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.address {
  /* border: 2px solid rgb(106, 0, 255); */
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact h4 {
  font-size: 1.1rem;
  color: brown;
  font-family: "Rajdhani", sans-serif;
}
.address .icons{
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.icons i{
font-size: 1.5rem;
color: #3d2315;
}
.contact .link {
  height: 160px;
}
.link h4 {
  margin-bottom: 18px;
}
.contact .support {
  height: 160px;
}
.support h4 {
  margin-bottom: 18px;
}
.contact .sub {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 6px;
}
.contact a {
  text-decoration: none;
  color: black;
}
.email {
  border-radius: 5px;
  border: 1px solid #3d2315;
  height: 40px;
  width: 340px;
  padding-left: 8px;
}
.btns {
  border: none;
  height: 40px;
  width: 340px;
  background-color: #3d2315;
  color: white;
  border-radius: 5px;
}
/* footerpage */
.footerpage {
  /* border: 1px solid; */
  background-color: #3d2315;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}











/* navigations */
.navabout{
    margin-top: 90px;
}
.navcontact{
   padding-top: 100px;
}
 .navshop{
 padding-top: 13vh;
}


/* card page */
