@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  /* border: 1px solid red; */
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #7968d9;
}
.wrapper form {
  /* border: 1px solid red; */
  height: 490px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.941);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.518);
  border-radius: 10px;
  color: #7968d9;
  transition: 0.2s;
}
.wrapper form:hover {
  box-shadow: 0px 0px 30px rgba(240, 234, 234, 0.717);
  transform: translatey(5px);
}
.wrapper .form-content {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}
form h2 {
  /* border: 1px solid; */
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

form input {
  border: 1px solid;
  padding: 8px;
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
}
.errs {
  /* border: 1px solid rgb(250, 88, 88); */
  font-size: 12px;
  font-weight: 500;
  color: red;
  display: block;
  margin: -8% 0% 5% 1%;
}
form button {
  border: none;
  padding: 9px;
  width: 200px;
  background: linear-gradient(to left, #7968d9, rgb(158, 105, 204));
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
}
button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
form button:hover {
  background: linear-gradient(to right, #7968d9, rgb(158, 105, 204));
  cursor: pointer;
  transform: translatey(2px),scale(1.1);
}
.wrapper p {
  /* border: 1px solid; */
  font-size: 0.9rem;
  color: black;
  margin-top: 15px;
}
a{
   text-decoration: none;
}
.wrapper h5 {
  /* border: 1px solid red; */
  font-weight: 400;
  color: black;
}
.wrapper label {
  font-size: 1rem;
}
::placeholder {
  font-size: 0.8rem;
}


/* media queries */

@media (max-width: 768px) {
  .wrapper form {
    width: 500px;
    height: 600px;
  }
  form label{
    font-size: 1rem;
  }
  ::placeholder{
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .wrapper form {
    width: 320px;
    height: 500px;
  }
  .wrapper label{
    font-size: 0.9rem;
  }
  form input{
    width: 280px;
  }
}

