@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #7968d9;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#categoryForm{
  border: 1px solid rgba(255, 255, 255, 0.457);
  width: 440px;
  /* padding: 15px; */
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #7968d9;
  box-shadow: 0px 0px 10px #7968d9;
}
#categoryForm:hover {
  box-shadow: 0px 0px 20px #7968d9;
}
h3 {
  font-size: 1.3rem;
}
input {
  /* height: 45px; */
  width: 300px;
  padding: 10px;
  font-size: 0.9rem;
  outline: none;
}
#categoryForm button {
  height: 40px;
  width: 29%;
  border: none;
  background-color:#4733a1ee;
  color: white;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: 0.3s;
  margin: 30px 0px 50px;  
}
#categoryForm button:hover {
  background-color: rgba(0, 0, 255, 0.626);
}
table,
td,
th{
  border: 2px solid;
  /* height: 40px; */
  /* width: 30%; */
  color: white;
  text-align: center;
  border-collapse: collapse;
  margin-top: 90px;
}
th {
  background-color: #5e4cc7fa;
  padding: 30px 35px;
}

td {
  padding: 10px;
} 
.err {
  /* border: 1px solid; */
  color: rgb(133, 14, 14);
  font-size: 0.8rem;
  width: 300px;
}

table td button{
background:rgb(57, 46, 154);
color: white;
border: none;
cursor: pointer;
padding:10px;
border-radius: 5px;
margin: 0 5px;
transition: .8s;
}
table td button:active{
  transform: scale(1.5) skew(-2deg);
}
table td img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 2px;
}
@media (max-width: 768px) {
  main {
    display: block;
  }
}
  @media (max-width: 576px) {

  #categoryForm {
    width: 100%;
    height: 60%;
  }

  input {
    width: 95%;
    height: 40px;
  }

  #categoryForm button {
    width: 50%;
    padding: 10px;
  }
  ::placeholder{
    font-size: 0.8rem;
  }

  /* Table responsive scroll */
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    min-width: 700px;
    font-size: 0.8rem;
  }

  table td img {
    width: 70px;
    height: 55px;
  }
}