@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  /* border: 1px solid; */
  height: 100vh;
  display: grid;
  grid-template-columns: 250px auto;
  transition: .5s;
  grid-template-areas:
    "aside header"
    "aside main" "aside footer";
  grid-template-rows: 8vh auto 8vh;
}

header {
  background: #383844;
  color: rgba(255, 255, 255, 0.792);
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
header a {
  text-decoration: none;
}
header .home-icons {
  display: flex;
  align-items: center;
}
.home .fa-bars {
  /* border: 1px solid; */
  font-size: 1.3rem;
  margin-left: 15px;
  cursor: pointer;
}
.home a {
  text-decoration: none;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.792);
}
header .timer {
  /* border: 1px solid red; */
  background-color: #9b9bc4;
  height: 30px;
  width: 132px;
  margin-right: 20px;
  padding: 3px 0px 0px 10px;
  border-radius: 5px;
}

aside {
  border-right: 1px solid #444452;
  width: 250px;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #11117fbb;
  background-size: cover;
  color: rgba(255, 255, 255, 0.792);
  background-position: center;
  transition: .5s;
}
aside .profile {
  /* border: 1px solid red; */
  height: 120px;
  border-radius: 50%;
  width: 120px;
  margin: 20px 0px;
}
.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
aside h3 {
  font-size: 1.1rem;
}
ul li {
  /* border: 1px solid white; */
  width: 130px;
  padding: 7px;
  text-align: start;
}
aside ul {
  /* border: 1px solid; */
  height: 15vh;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}
aside ul li {
  list-style: none;
  transition: 0.1s;
}
ul li a {
  /* border: 1px solid; */
  text-decoration: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.79);
}
ul li:hover {
  background-color: #7968d9;
  box-shadow: 0px 0px 20px #7968d9;
  border-radius: 5px;
}
aside .icons {
  /* border: 1px solid; */
  margin-top: 300px;
  font-size: 1.3rem;
  cursor: pointer;
}

aside.hide {
  /* border: 1px solid; */
  width: 60px;
}
aside.hide .profile,
aside.hide h3,
aside.hide ul li span{
  display: none;
}
aside.hide .icons {
  /* border: 1px solid peru; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 350px;
}
aside.hide ul li {
  /* border: 1px solid red; */
  width: 60%;
  text-align: center;
}
.wrapper.hide-sidebar {
  /* border: 1px solid green; */
  grid-template-columns: 60px 1fr;
}

aside .icons a {
  color: rgba(255, 255, 255, 0.792);
}

aside .icons .fa-brands:hover {
  /* box-shadow: 0px 0px 10px #7968d9; */
  border-radius: 20px;
  padding: 2px;
  box-shadow: 0px 0px 8px #cfccdc;
  background-color: #415497;
  transform: scale(1.3);
}
main {
  /* border: 1px solid rgb(9, 255, 0); */
  background: #24242e;
  background-size: cover;
  background-position: center;
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
}
main h3 {
  /* border: 1px solid; */
  font-size: 1.3rem;
  font-weight: 500;
  margin: 20px 0px 30px;
  color: rgba(255, 255, 255, 0.792);
}
.main-box {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
/* .main-box :hover{
  transform: scale(1.1);
} */
h2 {
  margin-left: 10px;
}
.main-box .box {
  height: 190px;
  width: 300px;
  color: rgba(255, 255, 255, 0.792);
  /* padding: 30px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 400;
  transition: 0.3s;
}
.div {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15x 0px;
  margin-left: 8px;
}
.box i {
  /* border: 1px solid; */
  width: 100px;
  font-size: 2.5rem;
  color: #a8a8d0;
}
.main-box .box1 {
  border: 2px solid rgba(255, 255, 255, 0.311);
  box-shadow: 0px 0px 10px #7968d9;
  border-radius: 10px;
  background-color: #7968d9d0;
}
.main-box .box1:hover {
  background-color: #7968d9;
  box-shadow: 0px 0px 18px #7968d9;
}
.main-box .box2 {
  border: 2px solid rgba(255, 255, 255, 0.311);
  box-shadow: 0px 0px 10px #7968d9;
  border-radius: 10px;
  background-color: #7968d9d0;
}
.main-box .box2:hover {
  background-color: #7968d9;
  box-shadow: 0px 0px 18px #7968d9;
}
.main-box .box3 {
  border: 2px solid rgba(255, 255, 255, 0.311);
  box-shadow: 0px 0px 10px #7968d9;
  border-radius: 10px;
  background-color: #7968d9d0;
}
.main-box .box3:hover {
  background-color: #7968d9;
  box-shadow: 0px 0px 18px #7968d9;
}

footer {
  grid-area: footer;
  background: #2d2d39;
  color: white;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 150px 1fr;
    transition: 0.8s;
  }

  aside {
    width: 150px;
    transition: 0.8s;
  }
  header {
    height: 100px;
  }
  aside ul li {
    width: 150px;
    margin-top: 30px;
    text-align: center;
  }

  aside .icons {
    margin-top: 550px;
    display: flex;
    gap: 10px;
  }

  .main-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  header {
    height: auto;
  }
  .wrapper {
    grid-template-columns: 120px 1fr;
    font-size: 0.9rem;
    transition: 0.8s;
  }
  header .timer {
    width: 105px;
    font-size: 0.8rem;
    margin-top: 5px;
  }

  aside {
    width: 120px;
    transition: 0.8s;
  }
  aside ul li {
    margin-top: 10px;
  }
  aside ul li a {
    font-size: 0.8rem;
  }
  aside .profile {
    height: 100px;
    width: 100px;
  }
  .home {
    display: flex;
  }
  .home a {
    margin-left: 10px;
  }
  main h2 {
    font-size: 1.4rem;
  }
  .div p {
    font-size: 0.9rem;
  }
  .div i {
    font-size: 2.2rem;
  }
  .main-box .box {
    height: 120px;
  }
  main h3 {
    font-size: 1rem;
  }
  aside .icons {
    font-size: 1rem;
    margin-top: 290px;
  }

  footer p {
    font-size: 0.7rem;
    text-align: center;
    margin-top: 13px;
  }
}
